# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Phoenix Docs\Universidad Catolica Boliviana\5to Semestre\MAT 361 - Analisis de Algoritmos\uGraph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
